.idea
datra.iml
.elan/
.lake/
.tools/
__pycache__/
tmp/
preprint.log
preprint.synctex.gz
preprint.pdf
preprint.tex
datra_code.lean
datra_code_ascii.lean
preprint_full.log
preprint_full.synctex.gz
preprint_full.pdf
preprint_full.tex
